<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @chesttriceps3.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @chesttriceps3.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @chesttriceps3.sets %>
</p>

<%= link_to 'Edit', edit_chesttriceps3_path(@chesttriceps3) %> |
<%= link_to 'Back', chesttriceps3s_path %>
