<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @bicepstriceps2.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @bicepstriceps2.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @bicepstriceps2.sets %>
</p>

<%= link_to 'Edit', edit_bicepstriceps2_path(@bicepstriceps2) %> |
<%= link_to 'Back', bicepstriceps2s_path %>
