<body>
    <header>
  <%= render 'home/header' %>
</header>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar" style="height: 100vw">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <%= link_to "Chest & Triceps Videos", homepage_additionalfeatures_path, class: "nav-link", style: "color: #01a6ee" %>
              </li>
              <li class="nav-item">
                <%= link_to "Shoulders & Biceps Videos", homepage_shouldersbicepsvideos_path, class: "nav-link", style: "color: #01a6ee" %>
              </li>
          
              <li class="nav-item">
                
                <%= link_to "Lats & Traps Videos", homepage_latstrapsvideos_path, class: "nav-link", style: "color: #01a6ee" %>
              </li>

              

              <li class="nav-item">
                
                <%= link_to "Legs Videos", homepage_legsvideos_path, class: "nav-link", style: "color: #01a6ee" %>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

          <br>

          <h2 class="text-center">Lats & Traps Exercise Tutorials</h2>
          <br>

          <div class="container-fluid">
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Lats</th>
                    <th>Traps</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    
                    <td>
                    <%= link_to 'Lat Pull Down', 'https://www.youtube.com/watch?v=CAwf7n6Luuc', :target => "_blank", style:"color: #343a40;" %> 
                  </td>
                    <td>
                    <%= link_to 'Cable Shrugs', 'https://www.youtube.com/watch?v=Wab3-dsZohU', :target => "_blank", style:"color: #343a40;"%> 
                  </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    
                  <td>
                    <%= link_to 'Straight Arm Lat Pull Down', 'https://www.youtube.com/watch?v=wcVDItawocI', :target => "_blank", style:"color: #343a40;" %> 
                  </td>
                  <td>
                    <%= link_to 'Barbell Shrug', 'https://www.youtube.com/watch?v=jTVbilkxSAk', :target => "_blank", style:"color: #343a40;" %> 
                  </td>

                  </tr>
                  <tr>
                    <td>3</td>
                    <td>
                    <%= link_to 'Dumbbell Row', 'https://www.youtube.com/watch?v=roCP6wCXPqo', :target => "_blank", style:"color: #343a40;" %> 
                  </td>
                  <td>
                    <%= link_to 'Dumbbell Shrugs', 'https://www.youtube.com/watch?v=JEnhFC1AtHw', :target => "_blank", style:"color: #343a40;" %> 
                  </td>
                    
                  </tr>
                  <tr>
                    <td>4</td>
              
                    <td>
                    <%= link_to 'Barbell Row', 'https://www.youtube.com/watch?v=kBWAon7ItDw', :target => "_blank", style:"color: #343a40;" %> 
                  </td>

                   <td>
                    
                  </td>

                    
                  </tr>
                  <tr>
                    <td>5</td>
                    
                    <td>
                    <%= link_to 'Seated Cable Row', 'https://www.youtube.com/watch?v=GZbfZ033f74', :target => "_blank", style:"color: #343a40;" %> 
                  </td>

                   <td>
                    
                  </td>

                    
                  </tr>
                  <tr>
                    <td>6</td>
                   
                    <td>
                    <%= link_to 'Dumbbell Seal Row', 'https://www.youtube.com/watch?v=6CDqbJk54PE', :target => "_blank", style:"color: #343a40;" %> 
                  </td>

                   <td>
                    
                  </td>
                    
                  </tr>
                  <tr>
                    <td>7</td>
                   
                    <td>
                    <%= link_to 'Weighted Pull Up', 'https://www.youtube.com/watch?v=5joIx-VL2XI', :target => "_blank", style:"color: #343a40;" %> 
                  </td>

                   <td>
                    
                  </td>


                  </tr>
                  
                  
                  
                </tbody>
              </table>
            </div>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>


    
  </body>
