<body>
    <header>
  <%= render 'home/header' %>
</header>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar" style="height: 100vw">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <%= link_to "Chest & Triceps Videos", homepage_additionalfeatures_path, class: "nav-link", style: "color: #01a6ee" %>
              </li>
              <li class="nav-item">
                <%= link_to "Shoulders & Biceps Videos", homepage_shouldersbicepsvideos_path, class: "nav-link", style: "color: #01a6ee" %>
              </li>
          
              <li class="nav-item">
                
                <%= link_to "Lats & Traps Videos", homepage_latstrapsvideos_path, class: "nav-link", style: "color: #01a6ee" %>
              </li>

             

              <li class="nav-item">
                
                <%= link_to "Legs Videos", homepage_legsvideos_path, class: "nav-link", style: "color: #01a6ee" %>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

          <br>

          <h2 class="text-center">Legs Exercise Tutorials</h2>
          <br>

          <div class="container-fluid">
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>#</th>
                    <th class="text-center">Legs</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td>1</td>
                    
                    <td class="text-center">
                    <%= link_to 'Leg Extension', 'https://www.youtube.com/watch?v=ljO4jkwv8wQ', :target => "_blank", style:"color: #343a40;" %> 
                  </td>
                    
                  </tr>
                  <tr >
                    <td>2</td>
                    
                  <td class="text-center">
                    <%= link_to 'Leg Curl', 'https://www.youtube.com/watch?v=ELOCsoDSmrg', :target => "_blank", style:"color: #343a40;" %> 
                  </td>
                  

                  </tr>
                  <tr >
                    <td>3</td>
                    <td class="text-center">
                    <%= link_to 'Barbell Squat', 'https://www.youtube.com/watch?v=1oed-UmAxFs', :target => "_blank", style:"color: #343a40;" %> 
                  </td>
                  
                    
                  </tr>
                  <tr >
                    <td>4</td>
              
                    <td class="text-center">
                    <%= link_to 'Leg Press', 'https://www.youtube.com/watch?v=CHPHn-OnTqE', :target => "_blank", style:"color: #343a40;" %> 
                  </td>

                   

                    
                  </tr>
                  <tr >
                    <td>5</td>
                    
                    <td class="text-center">
                    <%= link_to 'Deadlift', 'https://www.youtube.com/watch?v=VL5Ab0T07e4', :target => "_blank", style:"color: #343a40;" %> 
                  </td>

                   

                    
                  </tr>
                  <tr >
                    <td>6</td>
                   
                    <td class="text-center">
                    <%= link_to 'Stiff Leg Deadlift', 'https://www.youtube.com/watch?v=1uDiW5--rAE', :target => "_blank", style:"color: #343a40;" %> 
                  </td>

                   
                    
                  </tr>
                  <tr >
                    <td>7</td>
                   
                    <td class="text-center">
                    <%= link_to 'Good Mornings', 'https://www.youtube.com/watch?v=f23vXjoG2e8', :target => "_blank", style:"color: #343a40;" %> 
                  </td>

                   


                  </tr>
                  <tr>
                    <td>8</td>
                    
                    <td class="text-center">
                    <%= link_to 'Calf Raises', 'https://www.youtube.com/watch?v=ommnfVcLWxQ', :target => "_blank", style:"color: #343a40;"%> 
                  </td>

                   
                    
                  </tr>
                  
                  
                </tbody>
              </table>
            </div>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>


    
  </body>
