<header>
	<%= render 'home/header' %>
</header>

<br>
<nav aria-label="...">
  <ul class="pagination pagination-md justify-content-center">
    <li class="page-item active bg-dark" aria-current="page">
      <span class="page-link bg-dark" style="background-color:#343e40; color: #01a6ee">
        3-Day Plan
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item">
            <%= link_to "5-Day Plan", homepage_5dayplan_path, class: "btn btn-light", style: "color: #01a6ee" %>
    </li>
  </ul>
</nav>

<!--<div class="card text-center">
  <div class="card-header">

   <h10> 3-Day Workout Plan </h10>
   
  </div>
-->
  <div class="card-body" style="height: 80vw">
    

		<div class="container">
		  <div class="row">
		    <div class="col-sm">


		    	<div class="card text-center">
				  <div class="card-header">
				    Chest/Triceps 1
				  </div>
				  <div class="card-body">
				    <%= link_to "At Gym", chest_triceps1s_path, class: "btn btn-dark" %>
		    		<%= link_to "At Home", chesttricepshome1s_path, class: "btn btn-dark" %>
				  </div>
				</div>
		    </div>



		    <div class="col-sm">
		      <div class="card text-center">
				  <div class="card-header">
				    Shoulders/Biceps 1
				  </div>
				  <div class="card-body">
				    <%= link_to "At Gym", shouldersbiceps1s_path, class: "btn btn-dark" %>
		    		<%= link_to "At Home", shouldersbicepshome1s_path, class: "btn btn-dark" %>
				  </div>
				</div>
		    </div>
		    <div class="col-sm">
		      <div class="card text-center">
				  <div class="card-header">
				    Lats/Traps 1
				  </div>
				  <div class="card-body">
				    <%= link_to "At Gym", latstraps1s_path, class: "btn btn-dark" %>
		    		<%= link_to "At Home", latstrapshome1s_path, class: "btn btn-dark" %>
				  </div>
				</div>
		    </div>
		  </div>
		</div>

		<br><br>

		<div class="container">
		  <div class="row">
		    <div class="col-sm">


		    	<div class="card text-center">
				  <div class="card-header">
				    Chest/Triceps 2
				  </div>
				  <div class="card-body">
				    <%= link_to "At Gym", chesttriceps2s_path, class: "btn btn-dark" %>
		    		<%= link_to "At Home", chesttricepshome2s_path, class: "btn btn-dark" %>
				  </div>
				</div>
		    </div>



		    <div class="col-sm">
		      <div class="card text-center">
				  <div class="card-header">
				    Shoulders/Biceps 2
				  </div>
				  <div class="card-body">
				    <%= link_to "At Gym", shouldersbiceps2s_path, class: "btn btn-dark" %>
		    		<%= link_to "At Home", shouldersbicepshome2s_path, class: "btn btn-dark" %>
				  </div>
				</div>
		    </div>
		    <div class="col-sm">
		      <div class="card text-center">
				  <div class="card-header">
				    Lats/Traps 2
				  </div>
				  <div class="card-body">
				    <%= link_to "At Gym", latstraps2s_path, class: "btn btn-dark" %>
		    		<%= link_to "At Home", latstrapshome2s_path, class: "btn btn-dark" %>
				  </div>
				</div>
		    </div>
		  </div>
		</div>


		<br><br>

		<div class="container">
		  <div class="row">
		    <div class="col-sm">


		    	<div class="card text-center">
				  <div class="card-header">
				    Chest/Triceps 3
				  </div>
				  <div class="card-body">
				    <%= link_to "At Gym", chesttriceps3s_path, class: "btn btn-dark" %>
		    		<%= link_to "At Home", chesttricepshome3s_path, class: "btn btn-dark" %>
				  </div>
				</div>
		    </div>



		    <div class="col-sm">
		      <div class="card text-center">
				  <div class="card-header">
				    Shoulders/Biceps 3
				  </div>
				  <div class="card-body">
				    <%= link_to "At Gym", shouldersbiceps3s_path, class: "btn btn-dark" %>
		    		<%= link_to "At Home", shouldersbicepshome3s_path, class: "btn btn-dark" %>
				  </div>
				</div>
		    </div>
		    <div class="col-sm">
		      <div class="card text-center">
				  <div class="card-header">
				    Lats/Traps 3
				  </div>
				  <div class="card-body">
				    <%= link_to "At Gym", latstraps3s_path, class: "btn btn-dark" %>
		    		<%= link_to "At Home", latstrapshome3s_path, class: "btn btn-dark" %>
				  </div>
				</div>
		    </div>
		  </div>
		</div>


		<br><br>

		<div class="container">
		  <div class="row">
		    <div class="col-sm">


		    	<div class="card text-center">
				  <div class="card-header">
				    Chest/Triceps 4
				  </div>
				  <div class="card-body">
				    <%= link_to "At Gym", chesttriceps4s_path, class: "btn btn-dark" %>
		    		<%= link_to "At Home", chesttricepshome4s_path, class: "btn btn-dark" %>
				  </div>
				</div>
		    </div>



		    <div class="col-sm">
		      <div class="card text-center">
				  <div class="card-header">
				    Shoulders/Biceps 4
				  </div>
				  <div class="card-body">
				    <%= link_to "At Gym", shouldersbiceps4s_path, class: "btn btn-dark" %>
		    		<%= link_to "At Home", shouldersbicepshome4s_path, class: "btn btn-dark" %>
				  </div>
				</div>
		    </div>
		    <div class="col-sm">
		      <div class="card text-center">
				  <div class="card-header">
				    Lats/Traps 4
				  </div>
				  <div class="card-body">
				    <%= link_to "At Gym", latstraps4s_path, class: "btn btn-dark" %>
		    		<%= link_to "At Home", latstrapshome4s_path, class: "btn btn-dark" %>
				  </div>
				</div>
		    </div>
		  </div>
		</div>
	</div>

</div>

