<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @chesttricepshome2.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @chesttricepshome2.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @chesttricepshome2.sets %>
</p>

<%= link_to 'Edit', edit_chesttricepshome2_path(@chesttricepshome2) %> |
<%= link_to 'Back', chesttricepshome2s_path %>
