<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @shouldersbicepshome3.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @shouldersbicepshome3.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @shouldersbicepshome3.sets %>
</p>

<%= link_to 'Edit', edit_shouldersbicepshome3_path(@shouldersbicepshome3) %> |
<%= link_to 'Back', shouldersbicepshome3s_path %>
