<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @bicepstriceps4.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @bicepstriceps4.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @bicepstriceps4.sets %>
</p>

<%= link_to 'Edit', edit_bicepstriceps4_path(@bicepstriceps4) %> |
<%= link_to 'Back', bicepstriceps4s_path %>
