<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @bicepstricepshome1.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @bicepstricepshome1.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @bicepstricepshome1.sets %>
</p>

<%= link_to 'Edit', edit_bicepstricepshome1_path(@bicepstricepshome1) %> |
<%= link_to 'Back', bicepstricepshome1s_path %>
