<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @legs4.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @legs4.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @legs4.sets %>
</p>

<%= link_to 'Edit', edit_legs4_path(@legs4) %> |
<%= link_to 'Back', legs4s_path %>
