<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @latstrapshome2.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @latstrapshome2.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @latstrapshome2.sets %>
</p>

<%= link_to 'Edit', edit_latstrapshome2_path(@latstrapshome2) %> |
<%= link_to 'Back', latstrapshome2s_path %>
