<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @legshome2.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @legshome2.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @legshome2.sets %>
</p>

<%= link_to 'Edit', edit_legshome2_path(@legshome2) %> |
<%= link_to 'Back', legshome2s_path %>
