<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @shouldersbiceps2.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @shouldersbiceps2.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @shouldersbiceps2.sets %>
</p>

<%= link_to 'Edit', edit_shouldersbiceps2_path(@shouldersbiceps2) %> |
<%= link_to 'Back', shouldersbiceps2s_path %>
