<%= form_with(model: shouldersbicepshome2, local: true) do |form| %>
  <% if shouldersbicepshome2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shouldersbicepshome2.errors.count, "error") %> prohibited this shouldersbicepshome2 from being saved:</h2>

      <ul>
        <% shouldersbicepshome2.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :exercise %>
    <%= form.text_field :exercise %>
  </div>

  <div class="field">
    <%= form.label :reps %>
    <%= form.text_field :reps %>
  </div>

  <div class="field">
    <%= form.label :sets %>
    <%= form.number_field :sets %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>


<!--
<br> <br><br> <br>
<div class= "container">

  <div class="card">
    <h5 class="card-header">Edit Workout</h5>
    <div class="card-body">
      
          <div class="field form-group">
            <%= form.select(:exercise, options_for_select(['Select Exercise', 'Single Arm Shoulder Press', 'Banded Side Lateral Raises', 'Weighted/Banded Bicep Curl', 'Test']), {}, {class: "form-control"}) %>
          </div>

          <div class="field form-group">
            <%= form.select(:reps, options_for_select(['Reps', '20', '15', '10']), {}, {class: "form-control"}) %>
          </div>

          <div class="field form-group">
            <%= form.number_field :sets, class:"form-control", placeholder:"Sets" %>
          </div>

          <div class="actions">
            <%= form.submit "Update Exercise", class:"btn btn-dark" %>
          </div>
        <% end %>

    </div>
  </div>
  
</div>-->
