<header>
  <%= render 'home/header' %>
</header>

<p id="notice"><%= notice %></p>

<div class = "container"> 

<div class = "row justify-content-center">
  <h1>Shoulders/Biceps - Home 2</h1>
</div>

<table class = "table table-hover table-dark">
  <thead class = "thead-light">
    <tr>
      <th>Exercise</th>
      <th>Reps</th>
      <th>Sets</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shouldersbicepshome2s.each do |shouldersbicepshome2| %>
      <tr>
        <td style="color: #01a6ee;"><%= shouldersbicepshome2.exercise %></td>
        <td style="color: #01a6ee;"><%= shouldersbicepshome2.reps %></td>
        <td style="color: #01a6ee;"><%= shouldersbicepshome2.sets %></td>
        
        <td><%= link_to 'Edit', edit_shouldersbicepshome2_path(shouldersbicepshome2), class: "btn btn-secondary", style: "color: #01a6ee" %></td>
        <td><%= link_to 'Delete', shouldersbicepshome2, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary", style: "color: #01a6ee" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Exercise',new_latstraps1_path %> -->

<br>
<br>

<div class = "row justify-content-center" >
  <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX0XUsuxWHRQd" width="500" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>

</div>


<%= link_to 'New Shouldersbicepshome2', new_shouldersbicepshome2_path %>
