<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @shouldersbicepshome2.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @shouldersbicepshome2.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @shouldersbicepshome2.sets %>
</p>

<%= link_to 'Edit', edit_shouldersbicepshome2_path(@shouldersbicepshome2) %> |
<%= link_to 'Back', shouldersbicepshome2s_path %>
