<%= form_with(model: legs1, local: true) do |form| %>
  <% if legs1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(legs1.errors.count, "error") %> prohibited this legs1 from being saved:</h2>

      <ul>
        <% legs1.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
<br> <br><br> <br>
<div class= "container">

  <div class="card">
    <h5 class="card-header">Edit Workout</h5>
    <div class="card-body">
      
          <div class="field form-group">
            <%= form.select(:exercise, options_for_select(['Select Exercise', 'Leg Extension', 'Leg Press (Feet Low and Wide Stance)', 'Seated Leg Curl']), {}, {class: "form-control"}) %>
          </div>

          <div class="field form-group">
            <%= form.select(:reps, options_for_select(['Reps', '12', '10', '8', '6']), {}, {class: "form-control"}) %>
          </div>

          <div class="field form-group">
            <%= form.number_field :sets, class:"form-control", placeholder:"Sets" %>
          </div>

          <div class="actions">
            <%= form.submit "Update Exercise", class:"btn btn-dark" %>
          </div>
        <% end %>

    </div>
  </div>
  
</div>

