<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @legs1.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @legs1.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @legs1.sets %>
</p>

<%= link_to 'Edit', edit_legs1_path(@legs1) %> |
<%= link_to 'Back', legs1s_path %>
