<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @shouldersbiceps3.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @shouldersbiceps3.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @shouldersbiceps3.sets %>
</p>

<%= link_to 'Edit', edit_shouldersbiceps3_path(@shouldersbiceps3) %> |
<%= link_to 'Back', shouldersbiceps3s_path %>
