<%= form_with(model: chest_triceps1, local: true) do |form| %>
  <% if chest_triceps1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chest_triceps1.errors.count, "error") %> prohibited this chest_triceps1 from being saved:</h2>

      <ul>
        <% chest_triceps1.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<br> <br><br> <br>
<div class= "container">

  <div class="card">
    <h5 class="card-header">Edit Workout</h5>
    <div class="card-body">
    

          <div class="field form-group">
           <!--<%= form.select :exercise, options_for_select(["Select Exercise", "Barbell Decline Floor Press", "Machine Chest Fly", "Chest Dip",
            "Rack Double Arm Overhead Extension", "Tricep Cable Overhead Extenstion", "Flat Bench Dumbbell Extension", "Test"]), class:"selectpicker", style: "color: #01a6ee"%>-->

           <%= form.select(:exercise, options_for_select(['Select Exercise', "Barbell Decline Floor Press", "Machine Chest Fly", "Chest Dip",
            "Rack Double Arm Overhead Extension", "Tricep Cable Overhead Extenstion", "Flat Bench Dumbbell Extension", "Test"]), {}, {class: "form-control"}) %>
          </div>

          
            <!--<%= form.label :exercise, class:"form-control", placeholder:"Exercise"%> -->
            <!--<%= form.text_field :exercise, class:"form-control", placeholder:"Exercise" %>-->
          

          <div class="field form-group">
            <!-- <%= form.label :reps %> -->
            <%= form.select(:reps, options_for_select(['Reps', '12', '10', '8', '6']), {}, {class: "form-control"}) %>
            <!--<%= form.text_field :reps, class:"form-control", placeholder:"Reps" %>-->
          </div>

          <div class="field form-group">
           <!-- <%= form.label :sets %> -->
            <%= form.number_field :sets, class:"form-control", placeholder:"Sets" %>
          </div>

          <div class="actions">
            <%= form.submit "Update Exercise", class:"btn btn-dark" %>
          </div>
        <% end %>

    </div>
  </div>
  
</div>
