<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @chest_triceps1.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @chest_triceps1.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @chest_triceps1.sets %>
</p>

<%= link_to 'Edit', edit_chest_triceps1_path(@chest_triceps1) %> |
<%= link_to 'Back', chest_triceps1s_path %>
