<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @latstrapshome4.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @latstrapshome4.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @latstrapshome4.sets %>
</p>

<%= link_to 'Edit', edit_latstrapshome4_path(@latstrapshome4) %> |
<%= link_to 'Back', latstrapshome4s_path %>
