<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @bicepstriceps1.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @bicepstriceps1.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @bicepstriceps1.sets %>
</p>

<%= link_to 'Edit', edit_bicepstriceps1_path(@bicepstriceps1) %> |
<%= link_to 'Back', bicepstriceps1s_path %>
