<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @shouldersbicepshome4.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @shouldersbicepshome4.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @shouldersbicepshome4.sets %>
</p>

<%= link_to 'Edit', edit_shouldersbicepshome4_path(@shouldersbicepshome4) %> |
<%= link_to 'Back', shouldersbicepshome4s_path %>
