<%= form_with(model: latstrapshome1, local: true) do |form| %>
  <% if latstrapshome1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(latstrapshome1.errors.count, "error") %> prohibited this latstrapshome1 from being saved:</h2>

      <ul>
        <% latstrapshome1.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br> <br><br> <br>
<div class= "container">

  <div class="card">
    <h5 class="card-header">Edit Workout</h5>
    <div class="card-body">
      
          <div class="field form-group">
            <%= form.select(:exercise, options_for_select(['Select Exercise', 'Single Arm Weighted Row', 'Floor Pull Over', 'Weighted/Banded Shrug', 'Test']), {}, {class: "form-control"}) %>
          </div>

          <div class="field form-group">
            <%= form.select(:reps, options_for_select(['Reps', '20', '15', '10']), {}, {class: "form-control"}) %>
          </div>

          <div class="field form-group">
           <!-- <%= form.label :sets %> -->
            <%= form.number_field :sets, class:"form-control", placeholder:"Sets" %>
          </div>

          <div class="actions">
            <%= form.submit "Update Exercise", class:"btn btn-dark" %>
          </div>
        <% end %>

    </div>
  </div>
  
</div>
