<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @latstrapshome1.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @latstrapshome1.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @latstrapshome1.sets %>
</p>

<%= link_to 'Edit', edit_latstrapshome1_path(@latstrapshome1) %> |
<%= link_to 'Back', latstrapshome1s_path %>
