<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @bicepstricepshome2.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @bicepstricepshome2.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @bicepstricepshome2.sets %>
</p>

<%= link_to 'Edit', edit_bicepstricepshome2_path(@bicepstricepshome2) %> |
<%= link_to 'Back', bicepstricepshome2s_path %>
