<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @latstraps4.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @latstraps4.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @latstraps4.sets %>
</p>

<%= link_to 'Edit', edit_latstraps4_path(@latstraps4) %> |
<%= link_to 'Back', latstraps4s_path %>
