<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @bicepstricepshome4.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @bicepstricepshome4.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @bicepstricepshome4.sets %>
</p>

<%= link_to 'Edit', edit_bicepstricepshome4_path(@bicepstricepshome4) %> |
<%= link_to 'Back', bicepstricepshome4s_path %>
