<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @legshome1.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @legshome1.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @legshome1.sets %>
</p>

<%= link_to 'Edit', edit_legshome1_path(@legshome1) %> |
<%= link_to 'Back', legshome1s_path %>
