<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @shouldersbicepshome1.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @shouldersbicepshome1.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @shouldersbicepshome1.sets %>
</p>

<%= link_to 'Edit', edit_shouldersbicepshome1_path(@shouldersbicepshome1) %> |
<%= link_to 'Back', shouldersbicepshome1s_path %>
