<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @latstraps2.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @latstraps2.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @latstraps2.sets %>
</p>

<%= link_to 'Edit', edit_latstraps2_path(@latstraps2) %> |
<%= link_to 'Back', latstraps2s_path %>
