<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @chesttricepshome4.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @chesttricepshome4.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @chesttricepshome4.sets %>
</p>

<%= link_to 'Edit', edit_chesttricepshome4_path(@chesttricepshome4) %> |
<%= link_to 'Back', chesttricepshome4s_path %>
