<%= form_with(model: legshome3, local: true) do |form| %>
  <% if legshome3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(legshome3.errors.count, "error") %> prohibited this legshome3 from being saved:</h2>

      <ul>
        <% legshome3.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
<br> <br><br> <br>
<div class= "container">

  <div class="card">
    <h5 class="card-header">Edit Workout</h5>
    <div class="card-body">
      
          <div class="field form-group">
            <%= form.select(:exercise, options_for_select(['Select Exercise', 'Weighted Squat', 'Dumbbell Goblet Squat', 'Dumbbell Stiff Leg Deadlift']), {}, {class: "form-control"}) %>
          </div>

          <div class="field form-group">
            <%= form.select(:reps, options_for_select(['Reps', '50', '40', '30', '20', '10']), {}, {class: "form-control"}) %>
          </div>

          <div class="field form-group">
            <%= form.number_field :sets, class:"form-control", placeholder:"Sets" %>
          </div>

          <div class="actions">
            <%= form.submit "Update Exercise", class:"btn btn-dark" %>
          </div>
        <% end %>

    </div>
  </div>
  
</div>

