<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @chesttriceps2.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @chesttriceps2.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @chesttriceps2.sets %>
</p>

<%= link_to 'Edit', edit_chesttriceps2_path(@chesttriceps2) %> |
<%= link_to 'Back', chesttriceps2s_path %>
