<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @legs2.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @legs2.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @legs2.sets %>
</p>

<%= link_to 'Edit', edit_legs2_path(@legs2) %> |
<%= link_to 'Back', legs2s_path %>
