<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @legshome4.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @legshome4.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @legshome4.sets %>
</p>

<%= link_to 'Edit', edit_legshome4_path(@legshome4) %> |
<%= link_to 'Back', legshome4s_path %>
