<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @chesttricepshome1.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @chesttricepshome1.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @chesttricepshome1.sets %>
</p>

<%= link_to 'Edit', edit_chesttricepshome1_path(@chesttricepshome1) %> |
<%= link_to 'Back', chesttricepshome1s_path %>
