<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @shouldersbiceps1.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @shouldersbiceps1.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @shouldersbiceps1.sets %>
</p>

<%= link_to 'Edit', edit_shouldersbiceps1_path(@shouldersbiceps1) %> |
<%= link_to 'Back', shouldersbiceps1s_path %>
