<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @chesttriceps4.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @chesttriceps4.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @chesttriceps4.sets %>
</p>

<%= link_to 'Edit', edit_chesttriceps4_path(@chesttriceps4) %> |
<%= link_to 'Back', chesttriceps4s_path %>
