<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @latstraps1.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @latstraps1.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @latstraps1.sets %>
</p>

<%= link_to 'Edit', edit_latstraps1_path(@latstraps1) %> |
<%= link_to 'Back', latstraps1s_path %>
