<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @shouldersbiceps4.exercise %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @shouldersbiceps4.reps %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @shouldersbiceps4.sets %>
</p>

<%= link_to 'Edit', edit_shouldersbiceps4_path(@shouldersbiceps4) %> |
<%= link_to 'Back', shouldersbiceps4s_path %>
